/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*Eigen css*/

body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

img {
    width: 100%;
}

a:focus {
    background-color: rgb(0, 119, 218);
    color: white;
}

/*header en footer*/

header {
    background-color: white;
    position: relative;
    padding: 1px;
}

button {
    border-style: none;
    display: block;
    background-color: transparent;
    height: 35px;
    width: 35px;
    left: 10px;
    margin: 19px;
    position: relative;
    outline: none;
}

/* button in normale state */

button::before,
button::after {
    content: '';
    position: absolute;
    width: 24px;
    background-color: black;
    height: 2px;
    left: 6px;
    /* transition */
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

button::before {
    top: 10px;
}

button::after {
    top: 19px;
}

/* button in open state (class naam =  .animated) */

button.animated::before,
button.animated::after {
    top: 16px;
}

button.animated::before {
    transform: rotate(-45deg);
}

button.animated::after {
    transform: rotate(45deg);
}

header img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 84px;
    height: 34px;
}

header nav {
    display: none;
}

header nav.open {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    background-color: white;
}

header ul li a {
    display: block;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-weight: 800;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20;
}

header ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header li {
    list-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
}

footer {
    background-color: white;
    padding: 1px;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-top: 50px;
    width: 22%;
}

footer ul {
    padding: 0;
}

footer li > a {
    display: block;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
}

footer li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer div:nth-of-type(1) {
    display: flex;
    justify-content: center;

}

footer div:nth-of-type(1) a {
    padding: 0;
}

footer div:nth-of-type(1) a img {
    width: 27px;
    margin: 12px;
}

footer div:nth-of-type(2) a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 12px;
}

footer div:nth-of-type(2) p {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 12px;
}

/*Home page*/

/*Onward section*/
main .onwardsection {
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/eu_disney-plus_onward_hero_m_c4658e75.jpeg?region=0,0,750,668&width=600');
    height: 31.75em;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

main .onwardsection img {
    padding-top: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main .onwardsection h1 {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

main .onwardsection a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(0, 119, 218);
    width: 230px;
    margin: auto;
    border-radius: 2em;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    bottom: 2em;
}

/*Mandalorian section*/
main .mandaloriansection {
    background-color: rgb(8, 19, 52);
    padding: .5em;
}

main .mandaloriansection article {
    background: rgb(20, 43, 98);
    margin: 1em;
}

main .mandaloriansection article h2 {
    padding: .75em;
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
}

main .mandaloriansection article p {
    padding: .75em;
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

main .mandaloriansection article p:nth-of-type(2) {
    font-weight: 700;
}

main .mandaloriansection article img {
    width: 100%;
}

/* Phineas & Ferb section*/

.phineassection {
    background-color: rgb(15, 17, 73);
    padding-bottom: 1em;
    position: relative;
}

.phineassection img:nth-of-type(1) {
    display: none;
}

.phineassection img:nth-of-type(3) {
    display: block;
    width: 478px;
    margin: auto;
}

.phineassection a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    padding: 1.5em;
}

.phineassection a:hover {
    text-decoration: underline;
}


/*Parken section*/

main .parkensection {
    background-color: rgb(245, 245, 245);
}

main .parkensection img {
    width: 100%;
}

main .parkensection h2 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
}

main .parkensection article {
    margin: 16px;
    background-color: white;
}

main .parkensection article p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 700;
    padding: .75em;
}

main .parkensection article h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/*Movies in de home en detailpagina*/
main .moviesection h2 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
}

main .moviesection h3 {
    font-family: 'Lato', sans-serif;
    margin-left: 1em;
}

main .moviesection article {
    display: grid;
    grid-template-columns: 50% 50%;
}

main .moviesection article a {
    text-decoration: none;
    margin: 1em
}

main .moviesection article a h4 {
    font-family: 'Lato', sans-serif;
    color: black;
    margin: .25em
}

/*Shop*/
main .shopsection {
    background-color: rgb(245, 245, 245);
}

main .shopsection h2 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
}

main .shopsection h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

main .shopsection img:nth-of-type(1) {
    padding: 1em;
}

main .shopsection img:nth-of-type(2) {
    display: none;
}

main .shopsection img:nth-of-type(3) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Detailpagina*/
main .widowsection {
    background-image: url('https://graziamagazine.com/mx/wp-content/uploads/sites/13/2019/12/ya-esta-aqui-el-trailer-de-black-widow-con-scarlett-johansson-destacada.jpg');
    height: 31.75em;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

main .widowsection img {
    display: block;
    padding-top: 300px;
    margin: auto;
    width: 50%;
}

main .widowsection h1 {
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
}

main .widowsection a {
    color: black;
    display: block;
    width: 230px;
    margin: auto;
    background-color: white;
    border-radius: 2em;
    text-decoration: none;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

main .makersection {
    margin: 1em;
}

main .makersection img {
    width: 50%;
    margin: auto;
    display: block;
}

main .makersection h4 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.25em;
}

main .makersection h5 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1em;
}

main .makersection p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

main .makersection p:nth-of-type(1) {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

main .videosection {
    margin: 1em;
}

main .videosection h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.25em;
}

main .videosection iframe {
    display: block;
    margin: auto;
    padding: 1em;
}



/*Vanaf hier is het desktop*/

@media (min-width: 37.5em) {

    /*Voor als je op desktop over de afbeeldingen gaat hoveren met je muis*/
    main img {
        transition: transform 1s;
    }

    main img:hover {
        transform: scale(1.05);
    }


    /*Onward section background image op desktop*/
    main .onwardsection {
        background-image: url('https://lumiere-a.akamaihd.net/v1/images/eu_disney-plus_onward_hero_r_7afe8418.jpeg?region=0,0,3200,1336&width=1200');
        transition: transform 1s;
    }
}

@media (min-width: 40em) {

    /*header & footer*/
    header {
        display: flex;
        justify-content: flex-start;
    }

    header img {
        display: block;
        margin: 0;
        position: relative;
        top: 1em;
        left: 1em;
    }

    header nav {
        display: block;
    }

    header button {
        display: none;
    }

    header nav ul {
        justify-content: flex-start;
        flex-direction: row;
    }

    header nav ul li {
        border-bottom-style: none;
        padding-left: 1em;
        padding-right: 1em;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
    }

    /*Onward section op desktop*/
    main .onwardsection {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    main .onwardsection img {
        display: inline;
        width: 33%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5em;
        padding: 0;
    }

    main .onwardsection h1 {
        width: 33%;
        margin-left: 5em;
        padding: 0;
        font-size: 1.25em;
    }

    main .onwardsection a {
        width: 33%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5em;
    }

    /*Mandalorian section op desktop*/
    main .mandaloriansection {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    main .mandaloriansection article:nth-of-type(1) {
        margin-left: 2.5em;
    }

    main .mandaloriansection article:nth-of-type(2) {
        margin-right: 2.5em;
    }

    /*Phineas section op desktop*/
    main .phineassection {
        background-color: none;
        padding: 0;
    }
    
    main .phineassection img:nth-of-type(2) {
        display: none;
    }

    main .phineassection img:nth-of-type(1) {
        display: block;
        transition: transform 1s;
    }

    main .phineassection img:nth-of-type(1):hover {
        transform: scale(1.05);
    }
    
    main .phineassection img:nth-of-type(3){
        position: absolute;
        width: 45%;
        top: 5em;
    }

    /*Parken section op desktop*/
    main .parkensection section {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    main .parkensection section article:nth-of-type(1) {
        margin-left: 2.5em;
    }

    main .parkensection section article:nth-of-type(2) {
        margin-right: 2.5em;
    }

    /*Movie section op desktop*/
    main .moviesection article {
        grid-template-columns: 25% 25% 25% 25%;
    }

    /*Shop section op desktop*/
    main .shopsection img:nth-of-type(1) {
        display: none;
    }

    main .shopsection img:nth-of-type(2) {
        display: block;
        padding: 2em;
    }

    main .shopsection img:nth-of-type(3) {
        display: inline;
        position: relative;
        margin: auto;
        width: 20%;
        top: -10em;
        left: 5em;
    }

    /*Detailpagina op desktop*/

    /*Widow section op desktop*/
    main .widowsection {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    main .widowsection img {
        display: inline;
        width: 33%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5em;
        padding: 0;
    }

    main .widowsection h1 {
        display: inline;
        width: 33%;
        margin-right: 5em;
        margin-left: auto;
        padding: 0;
        text-align: center;
    }

    main .widowsection a {
        width: 33%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 5em;
    }

    /*Maker section op desktop*/
    main .makersection {
        position: relative;
    }

    main .makersection section:nth-of-type(1) img {
        width: 33%;
        display: inline;
    }

    main .makersection section:nth-of-type(1) h4 {
        display: inline;
        position: absolute;
        margin: 1em;
    }

    main .makersection section:nth-of-type(1) p:nth-of-type(1) {
        display: inline;
        position: absolute;
        top: 2em;
        margin: 1.25em;
    }

    main .makersection section:nth-of-type(1) p:nth-of-type(2) {
        display: inline;
        position: absolute;
        top: 4em;
        margin: 1.25em;
    }


    main .makersection section:nth-of-type(2) {
        display: flex;
        justify-content: space-around;
    }

    /*Video section*/
    main .videosection div {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    main .videosection div iframe {
        width: 100%;
    }

}

/*Extra media query voor de video's op de detailpage*/
@media (min-width: 60em) {
    main .videosection div iframe {
        height: 50vh;
    }
}
